# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
venv/
.env

# VS Code
.vscode/

# Docker
*.log
*.pid
*.db
*.sqlite3
docker-compose.override.yml

# OS-specific
.DS_Store
Thumbs.db
.EasyOCR/bengali.pth
.EasyOCR/english.pth
.EasyOCR/craft_mlt_25k.pth

# Persisted EasyOCR models from Docker volume
easyocr_models/
